bin/
dist/
webapp/src/manifest.ts
server/manifest.go
tools/emoji_generator

# Test binaries
server/server
server/server.test
*.test

# Mac
.DS_Store

# Jetbrains
.idea/

# VS Code
.vscode

# Matrix bridge registration file
docker/mattermost-bridge-registration.yaml
